{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('review_new') }}"><button>ajouter une review</button></a>
            <h1> Review ( pas de review pour le moment ):</h1>
            <ul>
                <li>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}