{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('review_new') }}"><button>ajouter une review</button></a>
            <h1> Review ( pas de review pour le moment ):</h1>
            <ul>
                <li>
                    <div>
                        {% for review in reviews %}
                            <h1> {{ review.reviewAuthor }}</h1>
                            <h2>[{{ review.publicationDate }}] - Note : {% for i in 1..review.note%} * {% endfor %}</h2>
                            <p>{{ review.text }}</p>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}